# Laravel
/vendor
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/debugbar
/storage/framework/*
/storage/logs/*
.env
.env.*
.phpunit.result.cache
.phpunit.cache

# SQLite database file (izinkan hanya file ini)
/database/*
!/database/database.sqlite

# System files
Homestead.yaml
Homestead.json
auth.json

# OS & IDE
.DS_Store
.idea
.vscode
.fleet

# Logs & backups
*.log
*.zip
*.rar
*.bak
*.tmp

# NPM/Yarn errors
npm-debug.log
yarn-error.log
pnpm-debug.log
